<p>
    <strong>You have been declared technically bankrupt after {{ iteration }} iterations</strong>
</p>
<p>
    Number of features: {{ codebase.features }}<br />
    Number of bugs: {{ codebase.bugs }}
</p>
<a href="/game">Restart</a>
